<h1>Movies!</h1>
<label>Title:</label>
{{input type="text" value=newMovie.title}}
<label>Year:</label>
{{input type="text" value=newMovie.year}}
<label>Director:</label>
{{input type="text" value=newMovie.director}}
<label>Actors:</label>
{{input type="text" value=newMovie.actors}}

{{#if editing}}
<button {{action "submitEdit" newMovie}}>Submit Edit</button>
<button {{action "cancelEdit"}}>Cancel Edit</button>
{{else}}
<button {{action "post" newMovie}}>Submit</button>
{{/if}}

<ul {{bind-attr class="editing:editing"}}>
  {{#each movies as |movie|}}
    <li>{{movie.title}}</li>

      <button {{action "edit" movie}} disabled={{editing}}>edit</button>
      <button {{action "delete" movie}} disabled={{editing}}>delete</button>

  {{/each}}
</ul>
